<div class="container">
  <div class="col-md-4 ml-auto mr-auto" style="margin-top:60px;">
    <div class="well">
      <h2 class="form-signin-heading">Connexion</h2>
      <label>Login</label>
      <input type="text" class="form-control" [(ngModel)]="login" placeholder="Votre Login"  >   
      <p></p>
      <label>Password</label>
      <input type="password" class="form-control" [(ngModel)]="password" placeholder="Password" >
      <br>
      <button class="btn btn-lg btn-primary btn-block" (click)="connexion()" > Se connceter </button>
    </div>
    <div *ngIf="show" class="alert alert-danger mt-3" role="alert">
      {{message}}
    </div>
  </div>
</div>

